* {
    margin: 0;
    padding: 0;

}

body {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 234, 234, 0.1) 100%), url('./img/brideOne.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Italianno', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
        "sidebar contenido contenido contenido"
        "sidebar contenido contenido contenido"
        "pie pie pie pie";
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 8px;
   

}

.contenedor .encabezado {
    background: url(./img/carrusel3.png);
    opacity: 90%;
    width: 1200px;

    background-repeat: no-repeat;
    position: relative;
    grid-area: encabezado;
    height: 400px;
    color: antiquewhite;
    font-size: 30px;
    display: grid;



}

.encabezado2 {
    font-size: 65px;
    padding: 10px;
}

.encabezado1 {
    text-align: right;
    font-size: 40px;
    padding: 5px;

}

.contenedor .contenido {


    opacity: 70%;
    grid-area: contenido;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.contenedor .sidebar {


    display: block;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    float: none;

}


.aside a:hover {
    color: #a25ad696;
    transform: scale(1.1);
    transition: .2s;
}

.boton {
    display: block;

    background-color: lightpink;
    opacity: 70%;
    margin: 5px;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    float: none;
    gap: 5px;
    border-radius: 8px;
}

.boton:hover {
    transform: scale(1.1);
    background-color: rgb(156, 156, 156);
    opacity: 70%;
    color: rgb(239, 236, 238)
}

.h2-iframe {
    grid-area: titulo-h2;
    gap: 20px;
    text-align: center;
    font-size: 2.5rem;
    color: #d25ad6de;
}

.h2-iframe:hover {
    transition: 0.2s;
    filter: blur(2px);
}

.aside {
    grid-area: aside;

    background-color: rgba(250, 157, 196, 0.801);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.aside a {
    color: #fff;
    padding: 5px;
}

.aside a:hover {
    color: #a25ad696;
    transform: scale(1.1);
    transition: .2s;
}

.interes {
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(176, 78, 233, 0.2);
    border: 1px solid #8724ce;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.7);
    gap:30px;
}

.div-iframe {
  
    gap:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-iframe {
    color: #000;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-size: 1.7rem;
    text-align: center;
    gap:30px;
}

.sec-weather {
 

    background-color: rgba(176, 78, 233, 0.2);
    border: 1px solid #8724ce;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.p-weather {
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    padding-top: 10px;
}

.div-button {
    grid-area: div-button;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div-button button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px;
    background-color: #da5be6;
    border: 0.5px solid #ba4bc4;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    color: #fff;
}

.div-button button:hover {
    background-color: #c352ce;
    transition: 0.2s;
    transform: scale(1.05);
}

#apiData {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: rgb(41, 18, 252);
}



    .contenedor .pie {
        background: rgb(181, 163, 169);
        color: #050404;
        grid-area: pie;
        opacity: 70%;
        height: 70px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;

}

.copyright {
    text-align: right;
}

.copyright:hover {
    filter: blur(2px);
    transition: 0.2s;
}

/* media */


@media (width >=768px) {

    .h2-iframe {
        font-size: 3.3rem;
    }

    .aside {
        display: flex;
        flex-direction: row;
    }

    .aside a {
        padding: 20px;
    }

}